.membership-intro{
    height: 30vh;
    width: 100vw;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    .membership-intro__header{
        font-size: 5rem;
        font-family: 'Cinzel';
        color: white;
    }
}
